<div class="table-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <div>
    <button mat-icon-button>
      <mat-icon (click)="addRow()" color="primary"> add </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="deleteRow()" color="primary"> delete </mat-icon>
    </button>
  </div>
</div>

<table mat-table matSort (matSortChange)="sortChange($event)" #table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="first">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="headedCheckboxChange($event)"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element; let i = index" class="checkbox-cell">
      <mat-checkbox [(ngModel)]="select[this.paginator.pageIndex * this.paginator.pageSize + i]"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let columnName of dataColumns; let j = index" matColumnDef={{columnName}}>
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{metaData.columns[j].displayName}} </th>
    <ng-container *matCellDef="let element; let i = index">
      <ng-container [ngSwitch]="metaData.columns[j]['type']">
        <td *ngSwitchCase="ColumnTypes.Table" mat-cell (click)="edit(i, columnName)" class="cell">
          <mat-icon> expand_more </mat-icon>
        </td>
        <td *ngSwitchCase="ColumnTypes.Date" mat-cell (click)="edit(i, columnName)" class="cell">
          {{ element[columnName] | date: "dd/MM/yyyy" }}
        </td>
        <td *ngSwitchDefault mat-cell (click)="edit(i, columnName)" class="cell"> {{element[columnName]}} </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[12, 24, 36]" showFirstLastButtons></mat-paginator>

