.fill-remaining-space {
  flex: 1 1 auto;
}

.sidenav {
  width: 180px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.main-content {
  min-height: 300px;
  padding: 20px;
}